<div class="blue-container">
  <h2>Course Info</h2>
  <div class="white-container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="courseName">Course Name</label>
        <input
          id="courseName"
          name="courseName"
          formControlName="courseName"
          [class.error]="isFieldInvalid('courseName')"
          type="text"
          placeholder="Course"
        />
        <div *ngIf="isFieldInvalid('courseName')" class="error">
          Course name is required.
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label for="courseId">Course Hours</label>
          <input
            id="courseHours"
            name="courseHours"
            type="text"
            formControlName="courseHours"
            [class.error]="isFieldInvalid('courseHours')"
            placeholder="hours"
          />
          <div *ngIf="isFieldInvalid('courseHours')" class="error">
            Course Hours is required.
          </div>
        </div>
        <div class="form-grou">
          <label for="InstructorName">Instructor Name</label>
          <select
            name="instructorName"
            id="instructorName"
            formControlName="instructorName"
          >
            <option value="" disabled selected>Select an option</option>
            <option *ngFor="let option of options" [value]="option.name">
              {{ option.name }}
            </option>
          </select>
          <!-- <app-dropdown-menu
            formControlName="instructorName"
          ></app-dropdown-menu> -->
        </div>
      </div>

      <div class="form-group">
        <label for="final">Final </label>
        <input
          id="final"
          name="final"
          type="text"
          formControlName="final"
          placeholder="Final: 0.0"
          [class.error]="isFieldInvalid('final')"
          required
        />
        <div *ngIf="isFieldInvalid('final')" class="error">
          grade is required.
        </div>
      </div>

      <div class="form-group">
        <label for="midterm">Midterm</label>
        <input
          id="midterm"
          name="midterm"
          type="text"
          formControlName="midterm"
          placeholder="Midterm: 0.0"
          [class.error]="isFieldInvalid('midterm')"
          required
        />
        <div *ngIf="isFieldInvalid('midterm')" class="error">
          grades is required.
        </div>
      </div>

      <div class="form-group">
        <label for="quizes">Quizes</label>
        <input
          id="quizes"
          name="quizes"
          type="text"
          formControlName="quizes"
          placeholder="Quizes: 0.0"
          [class.error]="isFieldInvalid('Quizes')"
          required
        />
        <div *ngIf="isFieldInvalid('quizes')" class="error">
          grades is required.
        </div>
      </div>

      <div class="form-group">
        <label for="quizes">Practical</label>
        <input
          id="practical"
          name="practical"
          type="text"
          formControlName="practical"
          placeholder="Practical: 0.0"
          [class.error]="isFieldInvalid('practical')"
          required
        />
        <div *ngIf="isFieldInvalid('practical')" class="error">
          grades is required.
        </div>
      </div>

      <div class="form-group">
        <label for="assignments">Assignments</label>
        <input
          id="assignments"
          name="assignments"
          type="text"
          formControlName="assignments"
          placeholder="Assignments: 0.0"
          [class.error]="isFieldInvalid('Assignments')"
          required
        />
        <div *ngIf="isFieldInvalid('Assignments')" class="error">
          grades is required.
        </div>
      </div>

      <button class="add-button" type="submit" [disabled]="myForm.invalid">
        Add
      </button>
    </form>
  </div>
</div>
