.container {
  height: 500px;
  width: 520px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.material-hours {
  color: #d9d9d9;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 3px;
  align-self: flex-end;
  margin-right: 10px;
}

img {
  height: 300px;
  width: 98%;
  border-radius: 10px;
  align-self: center;
}

.course-details {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
}

.course-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3%;
}

.course-description {
  font-size: 16px;
  color: #696984;
  margin-bottom: 2.2%;
}

.instructor-name {
  font-size: 12px;
  font-weight: 600;
  color: #49BBBD;
}
.edit-button {
  margin-top: 12px;
  background-color: #49BBBD;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 6px 60px;
  cursor: pointer;
  align-self: flex-end;
  font-size: medium;
}

.edit-button:hover {
  background-color:#0056b3 ;
}
