<div class="container">
  <img src="assets/couseImg.jpg" alt="course_img" />
  <span class="material-hours">
    <i class="material-icons">access_time</i>
    <p>{{ hours }} hours</p>
  </span>
  <div>
    <div class="course-details">
      <span class="course-title">{{ title }}</span>
      <span class="course-description">{{ description }}</span>
      <span class="instructor-name">{{ instructor }}</span>
    </div>
  </div>
  <button *ngIf="editable" class="edit-button" (click)="onEdit()">
    Add Materials
  </button>
</div>
