<div class="container">
  <img src="assets/couseImg.jpg" alt="course_img" />
  <span class="material-hours">
    <i class="material-icons">access_time</i>
    <p>3 hours</p>
  </span>
  <div>
    <div class="course-details">
      <span class="course-title">Course Title</span>
      <span class="course-description"
        >Lorem ipsum dolor sit amet, consectetur adipising elit, sed do eiusmod
        tempor</span
      >
      <span class="instructor-name">Instructor Name</span>
    </div>
  </div>
  <button *ngIf="editable" class="edit-button" (click)="onEdit()">Edit</button>
</div>
