/* General styles */
/* grading-form.component.css */

/* Center the form on the page */

/* Center the form on the page using Flexbox */
.form-container {
  padding: 20px;
  background-color: white; /* Light grey background */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 2%;
  margin: auto; /* Reduce margin for smaller screens */
  width: 92%;
  height: 90%; /* Center items horizontally */
}

/* Style the form elements */
.form-group {
  display: flex; /* Use Flexbox for label and input alignment */
  flex-direction: column; /* Stack label and input vertically */
  width: 100%; /* Full width of the container */
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 90%; /* Slight margin for a balanced layout */
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  align-self: center; /* Center the input within the form group */
}

input:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.submit-button {
  align-self: center; /* Center the button */
  width: 20%; /* Slight margin for alignment */
  padding: 10px;
  background-color: #49bbbd;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #138496;
}

.feedback {
  margin-top: 15px;
  font-size: 14px;
  color: #155724;
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
}

.toast {
  display: flex; /* Use Flexbox for toast layout */
  justify-content: space-between; /* Space out elements in the toast */
  align-items: center; /* Vertically align elements */
  background-color: #f1f1f1; /* Change background color */
  color: #333; /* Change text color */
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
}

.feedback {
  font-size: 12px; /* Reduce font size for smaller screens */
  padding: 8px; /* Adjust padding for smaller screens */
}
