<div
  style="
    background-color: rgba(157, 204, 255, 0.596);
    margin: 60px auto;
    max-width: 85%;
    height: 520px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  "
>
  <div class="form-container">
    <h2>Submit Grade</h2>
    <form>
      <div class="form-group">
        <label for="studentID">Student Name</label>
        <input
          id="studentName"
          type="text"
          [(ngModel)]="studentName"
          name="studentName"
          placeholder="user****"
          required
        />
      </div>
      <div class="form-group">
        <label for="courseID">Course Name</label>
        <select name="courseName" id="courseId" [(ngModel)]="courseName">
          <option value="">Select Course</option>
          <option *ngFor="let course of courses" [value]="course.name">
            {{ course.name }}
          </option>
        </select>
        <!-- <input
          id="courseName"
          type="text"
          [(ngModel)]="courseName"
          name="courseName"
          placeholder="course**"
          required
        /> -->
      </div>
      <div class="form-group">
        <label for="assessment">Assessment</label>
        <select name="assessment" id="assessment" [(ngModel)]="assessment">
          <option value="Midterm">Midterm</option>
          <option value="Assignemnt">Assignemnt</option>
          <option value="Quiz">Quiz</option>
          <option value="Final">Final</option>
          <option value="Practical">Practical</option>
        </select>
        <!-- <input
          id="assessment"
          type="text"
          [(ngModel)]="assessment"
          name="assessment"
          placeholder="MidTerm"
          required
        /> -->
      </div>
      <div class="form-group">
        <label for="grade">Grade</label>
        <input
          id="grade"
          type="number"
          [(ngModel)]="grade"
          name="grade"
          placeholder="12.5"
          required
        />
      </div>
      <button type="button" class="submit-button" (click)="submitForm()">
        Submit
      </button>
    </form>
  </div>
</div>
