.form-container {
  margin: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 10%;
}

input,
select {
  padding: 8px;
  margin-top: 15px;
  width: 80%;
  box-sizing: border-box;
  margin-left: 10%;
  border-radius: 12px;



}

button {
  margin-top: 10px;
  background-color: #49BBBD;
  align-self: center;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  width: 50%;
}

button:hover{
  opacity: 0.7;
}

input.invalid,
select.invalid {
  border: 2px solid red;
}

.validation-message {
  font-size: 0.8rem;
  color: red;
  position: absolute;
  margin-top: -18px;
  margin-left: 5px;
  background-color: white;
  padding: 2px;
}

div {
  position: relative;
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
}

