.container {
  margin: 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

base {
  width: auto;
  height: auto;
  /*padding: 10px;
  box-sizing: border-box; */
  /* overflow: visible; */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: stretch;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.dropdown {
  padding: 15px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 10px;
}

.table {
  width: 95%;
  margin: 3%;
  border-collapse: collapse;
  background-color: white;
  border: black;
  border-radius: 12px;
}

.table th,
.table td {
  border: 2px solid black;
  border-radius: 12px;

  padding: 10px;
  text-align: center;
}

.add-button {
  margin-top: 25px;
  background-color: #49bbbd;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  display: inline-block;
  width: 50%;
}

.action-btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 12px;
  background-color: #49bbbd;
  color: white;
  margin: 10px;
}

.btn:hover {
  opacity: 0.7;
}
