<div class="outer-container">
  <div class="inner-container">
    <h3>Profile</h3>
    <div>
      <div>
        <img
          src="https://www.shutterstock.com/image-vector/user-profile-icon-vector-avatar-600nw-2220431045.jpg"
          alt=""
        />
        <button>Edit Profile</button>
      </div>
      <div>
        <h4>Name: John Doe</h4>
        <p>Email: john.doecom</p>
        <p>SSD: 123-456-7890</p>
        <p>Level: 4</p>
        <p>Courses: 6</p>
      </div>
    </div>
  </div>
</div>
