/* Container for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Styling for the button */
.dropdown-toggle {
  padding: 10px 15px;
  cursor: pointer;
  background-color: white;
  color: #49BBBD;
  border: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex; /* Flexbox layout */
  justify-content: space-between; /* Space between text and arrow */
  align-items: center; /* Vertically center */
  width: 200px; /* Adjust width as needed */
}

.dropdown-toggle:hover {
  background-color: white;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Arrow styling */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333; /* Arrow color */
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
}

/* List item styles */
.dropdown-menu li {
  padding: 10px 15px;
  color: #49BBBD;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}
