<app-nav-bar>
  <li><a routerLink="Home" routerLinkActive="active-class">Home</a></li>
  <li>
    <a routerLink="course-management" routerLinkActive="active-class"
      >Course Management</a
    >
  </li>
  <li>
    <a routerLink="/" [routerLinkActive]="'active-class'">course management </a>
  </li>

  <li>
    <a routerLink="/assign-students" [routerLinkActive]="'active-class'"
      >student assigning
    </a>
  </li></app-nav-bar
>
<!-- <app-user-profile></app-user-profile> -->
<router-outlet> </router-outlet>
