<app-nav-bar>
  <li>
    <a routerLink="/accounts" routerLinkActive="active-class"
      >Accounts Management</a
    >
  </li>
  <li>
    <a routerLink="/course-management" routerLinkActive="active-class"
      >Courses</a
    >
  </li>
  <li>
    <a routerLink="/course-table" routerLinkActive="active-class"
      >Add new Course</a
    >
  </li>
  <li>
    <a routerLink="/assign-students" routerLinkActive="active-class"
      >Students Assinging</a
    >
  </li>
</app-nav-bar>
<router-outlet>
  <!-- <app-accounts></app-accounts> -->
</router-outlet>
