<div class="container">
  <div class="page-header">
    <h3>Grades</h3>
    <div class="academic-year">
      <label for="search">Academic Year: </label>
      <select name="" id="search">
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </div>
  </div>
  <div class="grades-container">
    <div class="grade">
      <p class="course-title">Human Computer Interactions</p>
      <div class="results">
        <ul class="quizes">
          <li>Midterm:</li>
          <li>Assignment 1:</li>
          <li>Practical:</li>
          <li>Final:</li>
        </ul>
        <ul class="numbers">
          <li>13/15</li>
          <li>13/15</li>
          <li>13/15</li>
          <li>45/50</li>
        </ul>
      </div>
    </div>
    <div class="grade">
      <p class="course-title">Human Computer Interactions</p>
      <div class="results">
        <ul class="quizes">
          <li>Midterm:</li>
          <li>Assignment 1:</li>
          <li>Practical:</li>
          <li>Final:</li>
        </ul>
        <ul class="numbers">
          <li>13/15</li>
          <li>13/15</li>
          <li>13/15</li>
          <li>45/50</li>
        </ul>
      </div>
    </div>
    <div class="grade">
      <p class="course-title">Human Computer Interactions</p>
      <div class="results">
        <ul class="quizes">
          <li>Midterm:</li>
          <li>Assignment 1:</li>
          <li>Practical:</li>
          <li>Final:</li>
        </ul>
        <ul class="numbers">
          <li>13/15</li>
          <li>13/15</li>
          <li>13/15</li>
          <li>45/50</li>
        </ul>
      </div>
    </div>
    <div class="grade">
      <p class="course-title">Human Computer Interactions</p>
      <div class="results">
        <ul class="quizes">
          <li>Midterm:</li>
          <li>Assignment 1:</li>
          <li>Practical:</li>
          <li>Final:</li>
        </ul>
        <ul class="numbers">
          <li>13/15</li>
          <li>13/15</li>
          <li>13/15</li>
          <li>45/50</li>
        </ul>
      </div>
    </div>
  </div>
</div>
