<div class="container">
  <div class="page-header">
    <h3>Grades</h3>
    <div class="academic-year">
      <label for="search">Academic Year: </label>
      <select [(ngModel)]="academicYear" id="search" (change)="filter()">
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
      </select>
    </div>
  </div>
  <div class="grades-container">
    <ng-container *ngFor="let grade of filteredGrades">
      <div class="grade">
        <p class="course-title">{{ grade.name }}</p>
        <div class="results" *ngFor="let value of grade.grades | keyvalue">
          <ul class="quizes">
            <li>{{ value.key }}:</li>
          </ul>
          <ul class="numbers">
            <li>{{ value.value }}</li>
          </ul>
        </div>
      </div>
    </ng-container>
  </div>
</div>
