<main class="main-content">
  <div class="top-container">
    <h2 style="margin-bottom: 70px">Students Progress</h2>
    <select [(ngModel)]="selectedCourse" (change)="filterByCourse()">
      <option *ngFor="let course of courses" [value]="course.name">
        {{ course.name }}
      </option>
    </select>
  </div>
  <!-- Filter Section -->
  <div class="container">
    <!-- Students Progress Section -->
    <div class="students-progress">
      <ng-container *ngFor="let student of filteredStudents">
        <ng-container *ngIf="student.courses.length >= 1">
          <ng-container *ngFor="let course of student.courses">
            <div
              class="progress-row"
              *ngIf="
                course.instructor.includes(this.auth.username) &&
                course.name === selectedCourse
              "
            >
              <div class="progress-icon">
                <img
                  src="assets/plan-your-online-course.png"
                  alt="Student Icon"
                />
              </div>
              <div class="progress-info">
                <h4>{{ student.id }}</h4>
                <p>{{ course.progress }}% Completed</p>
                <div class="progress-bar">
                  <div
                    class="progress"
                    [style.width.%]="course.progress"
                    [class.completed]="course.progress === 100"
                  ></div>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
    <div class="filter-section">
      <!-- Summary Section -->
      <div class="summary">
        <h3>Total Students:</h3>
        <p>{{ filteredStudents.length }} students</p>
      </div>
    </div>
  </div>
</main>
